.calendar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar__arrow-up::selection,
.calendar__arrow-down::selection {
  background: transparent;
}

.calendar__arrows-div > span {
  margin: 0 3px;
  font-size: 150%;
}

.calendar__header > select:hover {
  cursor: pointer;
}

.calendar__arrows-div > span:hover {
  color: black;
  cursor: pointer;
}
